# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-12576z.us-west2.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=TGYVM6H5NCVC5EII
sasl.password=ySPBA/RJVdw+k0PgKsgN04Z0VqcqDGKi6RfDqx7Rok/4703E7AX/GjBU12zXs7mP

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

client.id=ccloud-python-client-7d3cd24d-5e51-4160-9638-bc1716eb0f58
acks=all
session.timeout.ms=10000
heartbeat.interval.ms=3000